/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fdf9;
  color: #333;
  padding: 0;
}

/* HEADER personalizad*/
header {
  background-color: #228B22; /* Verde */
  text-align: center;
  padding: 20px;
}

.logo-ecomarket {
  width: 280px;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Título del header */
header h1 {
  color: white;
  font-size: 1.5rem;
  margin-top: 10px;
}

/* NAVBAR */
.navbar {
  margin-bottom: 20px;
}

/* BANNER */
img[alt="Banner EcoMarket"] {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* PRODUCTOS */
#productos .card-img-top {
  height: 180px;
  object-fit: cover;
}

.card {
  min-height: 100%;
  border: 1px solid #e0e0e0;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* FOOTER */
footer {
  background-color: #003300;
  color: white;
  padding: 20px;
  margin-top: 30px;
}

.redes-sociales a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.redes-sociales a:hover {
    color: #80e0a7; /* verde suave */
}

.metodos-pago img {
    filter: brightness(0) invert(1); /* pone los logos en blanco si se tienen fondo negro */
    transition: transform 0.3s ease;
}

.metodos-pago img:hover {
    transform: scale(1.1);
}